@media screen and (min-width:401px) and (max-width:768px) {
    .container .conteudo {
        margin: 0;
        border: 0;
        padding: 0;
    }
    #nossaComida .container {
        flex-direction:column;
     
    }

    #nossaEquipe .container {
        flex-direction: column-reverse;
        
    }

    #contato .container {
        flex-direction: column;

    }
       
    .cozinhando,
    .panela {
        width: 40vw;
    }
    .titulo {
        font-size: 28px;
    }

    .item {
        font-size: 18px;
    }

    #nossaComida,
    #nossaEquipe {
        margin: 0 0 15px;

    }

    .logo {
        width: 40vw;
        margin-left: 25px;
        
       

    }

    .nome,.redes,.endereco {
        padding-bottom: 5vw;
    }

    .amm {
        font-size: 20px;
    }

    .cs {
        font-size: 2 0px;
    }

    .rede-nome {
        font: size 18px;
    }

    .endereco-descricao {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
    }

    .endereco-nome {
        font-size: 22px
    }

    .endereco {
        width: 80vw;
    }

    .prato {
        margin: 10px;
    }

    .cardapio {
        margin: 16px
    }

    .conteudo {
        margin-left: 0;
        margin-right: 0;
        margin: 15px;
