@media screen and (min-width:401px) and (max-width:768px) {
    .container .conteudo {
        margin: 0;
        border: 0;
        padding: 0;
    }
    #nossaComida .container {
        flex-direction:column;
     
    }

    #nossaEquipe .container {
        flex-direction: column-reverse;
        
    }

    #contato .container {
        flex-direction: column;

    }
       
    .cozinhando,
    .panela {
        width: 40vw;
    }